extends templates/layout

block content
    main
        section.product
            if errorMessage
                div.row.center-xs.container
                    div.col-xs-12.col-sm-12.col-md-8.error
                        span #{errorMessage}
            if successMessage
                div.row.center-xs.container
                    div.col-xs-12.col-sm-12.col-md-8.success
                        span #{successMessage}
            div.row.reverse.middle-xs.container
                div.col-xs-12.col-sm-6
                    div.product-slider
                        if product[0].image1 !== null
                            div(data-thumb='/img/' + product[0].image1)
                                img(src='/img/' + product[0].image1)
                        if product[0].image2 !== null
                            div(data-thumb='/img/' + product[0].image2)
                                img(src='/img/' + product[0].image2)
                        if product[0].image3 !== null
                            div(data-thumb='/img/' + product[0].image3)
                                img(src='/img/' + product[0].image3)
                        if product[0].image4 !== null
                            div(data-thumb='/img/' + product[0].image4)
                                img(src='/img/' + product[0].image4)
                        if product[0].image5 !== null
                            div(data-thumb='/img/' + product[0].image5)
                                img(src='/img/' + product[0].image5)
                div.col-xs-12.col-sm-6
                    h1 #{product[0].title}
                    p #{product[0].description}
                    h2 Price:
                        span.price $#{details[0].price}
                    form(action='/user/add-to-cart' method='post')
                        if sizes || colors
                            select(id='attributes' name='attributes' required)
                                each detail in details
                                    option(value=detail.id data-price=detail.price) #{detail.size} #{detail.color}
                        label(for='quantity') Qty:
                        input(type='number' name='quantity' min='1' placeholder='0' value='1' required)
                        button(type='submit').button.pink Add to Cart   
        include modules/popular-carousel
        include modules/register-cta