extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.settings
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                if successMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.success
                            span #{successMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        form(action='/admin/dashboard/update-settings' enctype='multipart/form-data' method='post')
                            span.row
                                span.col-xs
                                    button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Theme
                                    span.row
                                        span.col-xs-12.col-sm-6
                                            label Logo Size (400 x 400)
                                            span.user
                                                input(type='file' name='logo')
                                                if !(logo)
                                                    img(src='/img/logo.jpg')
                                                else
                                                    img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + logo)
                                        span.col-xs-12.col-sm-6
                                            span.row            
                                                span.col-xs-12
                                                    label Hex Colors
                                                    span.flex
                                                        input(type='text' placeholder='#ffffff' value=color1 max='7' required).color-input
                                                        input(type='color' name='color1' placeholder='#ffffff' value=color1 max='7' required).color-select
                                                span.col-xs-12
                                                    span.flex
                                                        input(type='text' placeholder='#ffffff' value=color2 max='7' required).color-input
                                                        input(type='color' name='color2' placeholder='#ffffff' value=color2 max='7' required).color-select
                                                span.col-xs-12
                                                    span.flex
                                                        input(type='text' placeholder='#ffffff' value=color3 max='7' required).color-input
                                                        input(type='color' name='color3' placeholder='#ffffff' value=color3 max='7' required).color-select
                            span.row.grey
                                span.col-xs-12.fieldset.settings
                                    h2 Sliders
                                    span.row.grey
                                        span.col-xs-12.col-sm-6
                                            label= 'Slider 1'
                                            span.row
                                                span.col-xs-12.col-sm-12
                                                    input(type='text' name='sliderTitle1' placeholder='Title' value=sliderTitle1 max='45' required)
                                                span.col-xs-12
                                                    textarea(name='sliderDescription1' placeholder='Description' max='1024') #{sliderDescription1}
                                                span.col-xs-12.col-sm-12
                                                    input(type='url' name='sliderUrl1' placeholder='Url' value=sliderUrl1 max='100')
                                        span.col-xs-12.col-sm-6
                                            label Image Size (900 x 600)
                                            span.image
                                                input(type='file' name='sliderImage1')
                                                if !(sliderImage1)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + sliderImage1)
                                    span.row.grey
                                        span.col-xs-12.col-sm-6
                                            label= 'Slider 2'
                                            span.row
                                                span.col-xs-12.col-sm-12
                                                    input(type='text' name='sliderTitle2' placeholder='Title' value=sliderTitle2 max='45' required)
                                                span.col-xs-12
                                                    textarea(name='sliderDescription2' placeholder='Description' max='1024') #{sliderDescription2}
                                                span.col-xs-12.col-sm-12
                                                    input(type='url' name='sliderUrl2' placeholder='Url' value=sliderUrl2  max='100')
                                        span.col-xs-12.col-sm-6
                                            label Image Size (900 x 600)
                                            span.image
                                                input(type='file' name='sliderImage2')
                                                if !(sliderImage2)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + sliderImage2)
                                    span.row.grey    
                                        span.col-xs-12.col-sm-6
                                            label= 'Slider 3'
                                            span.row
                                                span.col-xs-12.col-sm-12
                                                    input(type='text' name='sliderTitle3' placeholder='Title' value=sliderTitle3 max='45' required)
                                                span.col-xs-12
                                                    textarea(name='sliderDescription3' placeholder='Description' max='1024') #{sliderDescription3}
                                                span.col-xs-12.col-sm-12
                                                    input(type='url' name='sliderUrl3' placeholder='Url' value=sliderUrl3 max='100')
                                        span.col-xs-12.col-sm-6
                                            label Image Size (900 x 600)
                                            span.image
                                                input(type='file' name='sliderImage3')
                                                if !(sliderImage3)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + sliderImage3)                                
                            span.row.grey
                                span.col-xs-12.fieldset.settings
                                    h2 CTA's
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label Register
                                        span.col-xs-12.col-sm-12
                                            span.row
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaTitle1' placeholder='Title' value=ctaTitle1 max='45' required)
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaSubtitle1' placeholder='Subtitle' value=ctaSubtitle1 max='100')
                                                span.col-xs-12
                                                    textarea(name='ctaDescription1' placeholder='Description' max='1024') #{ctaDescription1}
                                                    span.row.grey
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label Contact
                                        span.col-xs-12.col-sm-12
                                            span.row
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaTitle2' placeholder='Title' value=ctaTitle2 max='45' required)
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaSubtitle2' placeholder='Subtitle' value=ctaSubtitle2 max='100')
                                                span.col-xs-12
                                                    textarea(name='ctaDescription2' placeholder='Description' max='1024') #{ctaDescription2}
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label Error
                                        span.col-xs-12.col-sm-12
                                            span.row
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaTitle3' placeholder='Title' value=ctaTitle3 max='45' required)
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaSubtitle3' placeholder='Subtitle' value=ctaSubtitle3 max='100')
                                                span.col-xs-12
                                                    textarea(name='ctaDescription3' placeholder='Description' max='1024') #{ctaDescription3}
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 About
                                    span.row
                                        span.col-xs-12
                                            textarea(name='aboutDescription' placeholder='Description' max='2048' required).tinymce #{aboutDescription}
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Contact Information
                                    span.row
                                        span.col-xs-12.col-sm-6
                                            label(for='companyName') Company Name
                                            input(type='text' name='companyName' placeholder='Company Name' value=companyName max='45' required)
                                        span.col-xs-12.col-sm-6
                                            label(for='companyUrl') Url
                                            input(type='url' name='companyUrl' placeholder='Url' value=companyUrl max='100' required)
                                        span.col-xs-12.col-sm-6
                                            label(for='contactName') Contact Name
                                            input(type='text' name='contactName' placeholder='Contact Name' value=contactName max='45' required)
                                        span.col-xs-12.col-sm-6
                                            label(for='contactEmail') Email
                                            input(type='email' name='contactEmail' placeholder='Email' value=contactEmail max='100' required)
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Social Media
                                    span.row
                                        span.col-xs-12.col-sm-6
                                            label(for='facebook') Facebook
                                            input(type='url' name='facebook' placeholder='http://facebook.com' value=facebook max='100')
                                        span.col-xs-12.col-sm-6
                                            label(for='twitter') Twitter
                                            input(type='url' name='facebook' placeholder='http://twitter.com' value=twitter max='100')
                            span.row
                                span.col-xs
                                    button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
