extends templates/layout

block content
    main
        section.checkout
            if errorMessage
                div.row.center-xs.container
                    div.col-xs-12.col-sm-12.col-md-8.error
                        span #{errorMessage}
            header.row.center-xs.container
                div(class=!cart ? 'error' : '').col-xs-12.col-md-8
                    h1 Checkout
                    if !cart
                        h2 Looks like your cart is currently empty
                        p Why not look through our selection of #[a(href='/products') products] and purchase something!
            if cart
                form(action='/user/checkout' method='post')
                    span.row.center-xs.container
                        span.col-xs-12.col-md-8
                            span.row.grey
                                span.col-xs-12.col-sm-6.fieldset.billing-details
                                    h2 Billing Details
                                    label(for='address1') Address 1
                                    input(type='text' name='address1' placeholder='Address' value=address1 required)
                                    label(for='address2') Address 2
                                    input(type='text' name='address2' placeholder='Address' value=address2)
                                    label(for='city') Town/City
                                    input(type='text' name='city' placeholder='Town/City' value=city required)
                                    label(for='province') Province/State/County
                                    input(type='text' name='province' placeholder='Province/State/County' value=province required)
                                    label(for='postalcode') Postalcode/Zipcode/Postcode
                                    input(type='text' name='postalcode' placeholder='Postalcode/Zipcode/Postcode' value=postalcode required)
                                    label(for='country') Country
                                    input(type='text' name='country' placeholder='Country' value=country required)
                                    input(type='checkbox' name='shippingDetails' value=shippingDetails)
                                    label(for='shippingDetails') Use billing details for shipping?
                                span.col-xs-12.col-sm-6.fieldset.shipping-details
                                    h2 Shipping Details
                                    label(for='shipaddress1') Address 1
                                    input(type='text' name='shipaddress1' placeholder='Address' value=shipaddress1 required)
                                    label(for='shipaddress2') Address 2
                                    input(type='text' name='shipaddress2' placeholder='Address' value=shipaddress2)
                                    label(for='shipcity') Town/City
                                    input(type='text' name='shipcity' placeholder='Town/City' value=shipcity required)
                                    label(for='shipprovince') Province/State/County
                                    input(type='text' name='shipprovince' placeholder='Province/State/County' value=shipprovince required)
                                    label(for='shippostalcode') Postalcode/Zipcode/Postcode
                                    input(type='text' name='shippostalcode' placeholder='Postalcode/Zipcode/Postcode' value=shippostalcode required)
                                    label(for='shipcountry') Country
                                    input(type='text' name='shipcountry' placeholder='Country' value=shipcountry required)
                        span.col-xs-12.col-md-8
                            each product in cart
                                span.row.middle-xs.grey
                                    span.col-sm-4.image
                                        if !product.image1
                                            img(src='/img/product.jpg')
                                        else
                                            img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + product.image1)
                                    span.col-xs-12.col-sm-8
                                        span.row
                                            span.col-xs-12
                                                h3 #{product.title}
                                                p #{product.excerpt}
                                                ul
                                                    if product.size
                                                        li
                                                            strong Size:
                                                            span #{product.size}
                                                    if product.color
                                                        li
                                                            strong Color:
                                                            span #{product.color}
                                    span.col-xs-12
                                        span.details
                                            span.row.middle-xs
                                                span.col-xs-12.col-sm-4.detail
                                                    strong Price:
                                                    span $#{product.price}
                                                span.col-xs-12.col-sm-4.detail
                                                    span.flex
                                                        strong Quantity:
                                                        span #{product.quantity}
                                                span.col-xs-12.col-sm-4.detail
                                                    strong Total:
                                                    span $#{product.subtotal}
                        span.col-xs-12.col-md-8
                            span.row.middle-xs.grey
                                span.col-xs-12
                                    span.row.middle-xs
                                        span.col-xs-12.col-sm-3.detail
                                            strong Sub-total:
                                            span $#{cartDetail.subtotal}
                                        span.col-xs-12.col-sm-3.detail
                                            strong Tax:
                                            span $#{cartDetail.tax}
                                        span.col-xs-12.col-sm-3.detail
                                            strong Shipping:
                                            span $#{cartDetail.shipping}
                                        span.col-xs-12.col-sm-3.detail
                                            strong Total:
                                            span $#{cartDetail.total}
                        span.col-xs-12.col-md-8
                            span.row.grey
                                span.col-xs-12
                                    h2 Payment Details
                                span.col-xs-12.col-sm-6
                                    label(for='creditCard') Credit Card
                                    input(type='text' name='creditCard' placeholder='0000 - 0000 - 0000 - 0000' required)
                                span.col-xs-12.col-sm-2
                                    label(for='cvv') CVV
                                    input(type='text' name='cvv' placeholder='123' required)
                                span.col-xs-12.col-sm-6
                                    label(for='fullName') Full Name
                                    input(type='text' name='fullName' placeholder='Full Name' required)
                                span.col-xs-12.col-sm-3
                                    label(for='expiration') Expiration
                                    span.flex.expiry
                                        input(type='text' name='month' placeholder='MM' required)
                                        input(type='text' name='year' placeholder='YY' required)
                    span.row.center-xs.container
                        span.col-xs-12.col-md-8
                            span.row.middle-xs
                                span.col-xs
                                    button(type='submit').button.pink Check-Out
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
            else
                include modules/contact-cta