extends templates/layout

block content
    main
        section.slider
            if themeSettings.sliderTitle1
                div.slide
                    div.row.reverse.middle-xs.container
                        div.col-xs-12.col-sm-6
                            if !themeSettings.sliderImage1
                                img(src='/img/product.jpg')   
                            else 
                                img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + themeSettings.sliderImage1)
                        div.col-xs-12.col-sm-6
                            if themeSettings.sliderTitle1
                                h1 #{themeSettings.sliderTitle1}
                            if themeSettings.sliderDescription1
                                p #{themeSettings.sliderDescription1}
                            if themeSettings.sliderUrl1
                                a(href=themeSettings.sliderUrl1).button.gold Learn More
                                //- a(href='/shopping-cart').button.pink Buy Now
            if themeSettings.sliderTitle2
                div.slide
                    div.row.reverse.middle-xs.container
                        div.col-xs-12.col-sm-6
                            if !themeSettings.sliderImage2
                                img(src='/img/product.jpg')   
                            else 
                                img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + themeSettings.sliderImage2)
                        div.col-xs-12.col-sm-6
                            if themeSettings.sliderTitle2
                                h1 #{themeSettings.sliderTitle2}
                            if themeSettings.sliderDescription2
                                p #{themeSettings.sliderDescription2}
                            if themeSettings.sliderUrl2
                                a(href=themeSettings.sliderUrl2).button.gold Learn More
                                //- a(href='/shopping-cart').button.pink Buy Now
            if themeSettings.sliderTitle3
                div.slide
                    div.row.reverse.middle-xs.container
                        div.col-xs-12.col-sm-6
                            if !themeSettings.sliderImage3
                                img(src='/img/product.jpg')   
                            else 
                                img(src='//dev.matthewfarlymn.com/jamjarink/uploads/' + themeSettings.sliderImage3)
                        div.col-xs-12.col-sm-6
                            if themeSettings.sliderTitle3
                                h1 #{themeSettings.sliderTitle3}
                            if themeSettings.sliderDescription3
                                p #{themeSettings.sliderDescription3}
                            if themeSettings.sliderUrl3
                                a(href=themeSettings.sliderUrl3).button.gold Learn More
                                //- a(href='/shopping-cart').button.pink Buy Now    
        if !access
            include modules/register-cta
        include modules/popular-carousel
        include modules/recent-carousel
        include modules/contact-cta
