extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
   for row in customer
    li #{row.cusomterId} #{row.customerFirstName} #{row.customerLastName}
//-      small
//-        a(href='/deleteColor?id=#{row.id}') delete

  form(action='/addCustomer', method='get')
    span Enter a customer:
    
    span First Name
    input(type="text", name="firstName")

    span Last Name
    input(type="text", name="lastName")

    span Street Address 1
    input(type="text", name="street1")

    span Street Address 2 (optional)
    input(type="text", name="street2")

    span City
    input(type="text", name="city")

    span County
    input(type="text", name="county")

    span Postcode
    input(type="text", name="postcode")

    span Phone
    input(type="text", name="phone")

    span Mobile
    input(type="text", name="mobile")

    span Email
    input(type="text", name="email")

    span Password
    input(type="password", name="password")

    span Confirm Password
    input(type="password", name="confirmPassword")

    //- input(type="submit")
