doctype html
html
    head
        meta(name='viewport' content='width = device-width initial-scale = 1')
        title= title
        link(rel='stylesheet' href='/css/app.css')
        link(rel='icon' href='/img/favicon.ico')
        script(type='text/javascript' src='/js/vendor.min.js')
        script(type='text/javascript' src='/js/tinymce/tinymce.min.js')
        script(type='text/javascript' src='/js/app.min.js')
        style.
            .pink {background-color: #{themeSettings.color1} !important;}
            .gold {background-color: #{themeSettings.color2} !important;}
            .brown {background-color: #{themeSettings.color3} !important;}
            a {color: #{themeSettings.color2};}
    body.brown
        include header
        block content
        include footer