header.row.center-xs.container
    div.col-xs-12.col-md-8
        h1 Dashboard
div.navigation
    nav.row.center-xs.container
        ul.col-xs-12.col-md-8
            li
                a(class=profile ? 'active' : '' href=admin ? '/admin/dashboard/profile' : '/user/dashboard/profile') Profile
            li    
                a(class=products ? 'active' : '' href=admin ? '/admin/dashboard/products' : '/user/dashboard/products') Products
            if admin
                li    
                    a(class=users ? 'active' : '' href='/admin/dashboard/users') Users
                li    
                    a(class=orders ? 'active' : '' href='/admin/dashboard/orders') Orders