header.row.center-xs.container
    div.col-xs-12.col-md-8
        h1 Dashboard
nav
    div.row.center-xs.container
        ul.col-xs-12.col-md-8
            li
                a(class=profile ? 'active' : '' href=owner ? '/admin/dashboard/profile' : '/user/dashboard/profile') Profile
            li    
                a(class=orders ? 'active' : '' href=owner ? '/admin/dashboard/orders' : '/user/dashboard/orders') Orders
            li    
                a(class=tickets ? 'active' : '' href=owner ? '/admin/dashboard/tickets' : '/user/dashboard/tickets') Tickets
            if owner
                li    
                    a(class=products ? 'active' : '' href='/admin/dashboard/products') Products
                li    
                    a(class=users ? 'active' : '' href='/admin/dashboard/users') Users
                li    
                    a(class=eSettings ? 'active' : '' href='/admin/dashboard/settings') Settings