extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.order
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-xs-12
                                div.row.middle-xs
                                    div.col-xs-12.col-sm-4.detail
                                        strong ID:
                                        span #{orderDetails[0].id}
                                    div.col-xs-12.col-sm-4.detail
                                        strong Date:
                                        span #{orderDetails[0].date}
                                    div.col-xs-12.col-sm-4.detail
                                        strong Total:
                                        span $#{orderDetails[0].total}
                    if owner
                        div.col-xs-12.col-md-8
                            div.row.middle-xs.grey
                                div.col-xs-12.col-sm-4
                                    h3 #{orderDetails[0].firstName} #{orderDetails[0].lastName}
                                div.col-xs-12.col-sm-4
                                    ul
                                        li
                                            span.fa.fa-envelope
                                            span #{orderDetails[0].email}
                                div.col-xs-12.col-sm-4
                                    ul
                                        li
                                            span.fa.fa-phone
                                            span #{orderDetails[0].phoneNumber}
                    div.col-xs-12.col-md-8
                        each product in productDetails
                            div.row.middle-xs.grey
                                div.col-sm-4.image
                                    if !product.image
                                        img(src='/img/product.jpg')   
                                    else 
                                        img(src='/img/' + product.image)
                                div.col-xs-12.col-sm-8
                                    div.row
                                        div.col-xs-12
                                            h3 #{product.title}
                                            p #{product.excerpt}
                                        div.col-xs-12
                                            div.details
                                                div.row.middle-xs
                                                    div.col-xs-12.col-sm-4.detail
                                                        strong Price:
                                                        span $#{product.price}
                                                    div.col-xs-12.col-sm-4.detail
                                                        span.flex
                                                            strong Quantity:
                                                            span #{product.quantity}
                                                    div.col-xs-12.col-sm-4.detail
                                                        strong Total:
                                                        span $#{product.subtotal}
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-xs-12
                                div.row.middle-xs
                                    div.col-xs-12.col-sm-3.detail
                                        strong Sub-total:
                                        span $#{orderDetails[0].subtotal}
                                    div.col-xs-12.col-sm-3.detail
                                        strong Tax:
                                        span $#{orderDetails[0].tax}
                                    div.col-xs-12.col-sm-3.detail
                                        strong Shipping:
                                        span $#{orderDetails[0].shipping}
                                    div.col-xs-12.col-sm-3.detail
                                        strong Total:
                                        span $#{orderDetails[0].total}