extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.orders
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-xs-12
                                div.row.middle-xs
                                    div.col-xs-12.col-sm-4.details
                                        strong ID:
                                        span #{orderDetails[0].id}
                                    div.col-xs-12.col-sm-4.details
                                        strong Date:
                                        span #{orderDetails[0].date}
                                    div.col-xs-12.col-sm-4.details
                                        strong Total:
                                        span $#{orderDetails[0].total}
                    div.col-xs-12.col-md-8
                        each product in productDetails
                            div.row.middle-xs.grey
                                div.col-sm-4.image
                                    img(src='/img/' + product.image)
                                div.col-xs-12.col-sm-8
                                    div.row
                                        div.col-xs-7.col-sm-12
                                            h3 #{product.title}
                                            p #{product.excerpt}
                                        div.col-xs-5.col-sm-12.product-details
                                            div.row
                                                div.col-xs-12.col-sm-4.details
                                                    strong Price:
                                                    span $#{product.price}
                                                div.col-xs-12.col-sm-4.details
                                                    strong Quantity:
                                                    span #{product.quantity}
                                                div.col-xs-12.col-sm-4.details
                                                    strong Total:
                                                    span $#{product.subtotal}
                    div.col-xs-12.col-md-8
                        div.row.middle-xs.grey
                            div.col-xs-12
                                div.row.middle-xs
                                    div.col-xs-12.col-sm-3.details
                                        strong Sub-total:
                                        span $#{orderDetails.subtotal}
                                    div.col-xs-12.col-sm-3.details
                                        strong Tax:
                                        span $#{orderDetails.tax}
                                    div.col-xs-12.col-sm-3.details
                                        strong Shipping:
                                        span $#{orderDetails.shipping}
                                    div.col-xs-12.col-sm-3.details
                                        strong Total:
                                        span $#{orderDetails.total}