extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.product
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                if successMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.success
                            span #{successMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        form(action=add ? '/admin/dashboard/save-product' : '/admin/dashboard/update-product/' + productId + '/' + title method='post')
                            span.row
                                span.col-xs
                                    if add
                                        button(type='submit').button.pink Save
                                    else
                                        button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Product Details
                                    span.row
                                        span.col-xs-12.col-sm-9
                                            label(for='title') Title
                                            input(type='text' name='title' placeholder='Title' value=title required)
                                        span.col-xs-12.col-sm-3
                                            label(for='status') Status
                                            select()
                                                option() Enable
                                                option() Disable
                                                option() Delete
                                        span.col-xs-12
                                            label(for='title') Description
                                            textarea(placeholder='Description') #{description}
                                span.col-xs-12.fieldset
                                    h2 Images
                                    span.row.middle-xs
                                        span.col-xs-12
                                            label Upload Size (900 x 600)
                                        span.col-xs-12.col-sm-6
                                            span.image
                                                input(type='file' name='image1')
                                                if !image1
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='/img/' + image1)
                                        span.col-xs-12.col-sm-6
                                            span.row
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image2')
                                                        if !image2
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/img/' + image2)
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image3')
                                                        if !image3
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/img/' + image3)
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image4')
                                                        if !image4
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/img/' + image4)
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image5')
                                                        if !image5
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/img/' + image5)
                            span.product-details
                                span(data-row='1').row.middle-xs.grey
                                    span.col-xs-12
                                        h2 Attributes
                                    span.col-xs-12
                                        label Item 1
                                    span.col-xs-12.col-sm
                                        input(type='text' name='size1' placeholder='Size')
                                    span.col-xs-12.col-sm
                                        input(type='text' name='color1' placeholder='Color')
                                    span.col-xs-12.col-sm
                                        input(type='number' name='stock1' placeholder='100')
                                    span.col-xs-12.col-sm
                                        input(type='number' name='price1' placeholder='0.00')
                                    span.col-xs-12.col-sm-3
                                        select()
                                            option() Enable
                                            option() Disable
                                            option() Delete
                            span.row
                                span.col-xs
                                    a(id="add-details").button.gold Add
                                    if add
                                        button(type='submit').button.pink Save
                                    else
                                        button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset