extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.product
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                if successMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.success
                            span #{successMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        form(action=add ? '/admin/dashboard/save-product' : '/admin/dashboard/update-product/' + productId + '/' + title enctype='multipart/form-data' method='post')
                            span.row
                                span.col-xs
                                    if add
                                        button(type='submit').button.pink Save
                                    else
                                        button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
                            span(class=status === 'inactive' ? 'inactive' : '').row.grey
                                span.col-xs-12.fieldset
                                    h2 Details
                                    span.row
                                        span.col-xs-12.col-sm-9
                                            label(for='title') Title
                                            input(type='text' name='title' placeholder='Title' value=title required)
                                        span.col-xs-12.col-sm-3
                                            label(for='status') Status
                                            select(class='status-product' name='status')
                                                option(disabled='true') -- Select --
                                                option(value='active' selected=status === 'active') Active
                                                option(value='inactive' selected=status === 'inactive') Inactive
                                        span.col-xs-12
                                            label(for='description') Description
                                            textarea(name='description' placeholder='Description') #{description}
                                span.col-xs-12.fieldset
                                    h2 Images
                                    span.row.middle-xs
                                        span.col-xs-12
                                            label Image Size (900 x 600)
                                        span.col-xs-12.col-sm-6
                                            span.image
                                                input(type='file' name='image1')
                                                if !image1
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='/uploads/products/' + image1)
                                        span.col-xs-12.col-sm-6
                                            span.row
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image2')
                                                        if !image2
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/uploads/products/' + image2)
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image3')
                                                        if !image3
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/uploads/products/' + image3)
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image4')
                                                        if !image4
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/uploads/products/' + image4)
                                                span.col-xs-6
                                                    span.image
                                                        input(type='file' name='image5')
                                                        if !image5
                                                            img(src='/img/product.jpg')
                                                        else
                                                            img(src='/uploads/products/' + image5)
                                span.col-xs-12.fieldset.item-attributes
                                    h2 Item Attributes
                                    if details
                                        each detail, index in details
                                            span(class=detail.status === 'inactive' ? 'inactive' : '' data-row=(index + 1)).row.middle-xs.grey
                                                span.col-xs-12
                                                    label= 'Item ' + (index + 1)
                                                    input(type='hidden' name='detailId' + (index + 1) value=detail.id)
                                                span.col-xs-6.col-sm
                                                    input(type='text' name='size' + (index + 1) placeholder='Size' value=detail.size disabled=detail.status === 'inactive')
                                                span.col-xs-6.col-sm
                                                    input(type='text' name='color' + (index + 1) placeholder='Color' value=detail.color disabled=detail.status === 'inactive')
                                                span.col-xs-6.col-sm
                                                    input(type='number' name='stock' + (index + 1) min='0' placeholder='100' value=detail.stock disabled=detail.status === 'inactive')
                                                span.col-xs-6.col-sm
                                                    input(type='text' name='price' + (index + 1) min='1' placeholder='0.00' value=detail.price disabled=detail.status === 'inactive' required)
                                                span.col-xs-12.col-sm-3
                                                    select(class='status-attributes' name='status' + (index + 1) disabled=status === 'inactive')
                                                        option(disabled='true') -- Select --
                                                        option(value='active' selected=detail.status === 'active') Active
                                                        option(value='inactive' selected=detail.status === 'inactive') Inactive
                                    else
                                        - var i = 0;
                                        while i++ <= 4
                                            span(class=i !== 1 ? 'inactive' : '' data-row=i).row.middle-xs.grey
                                                span.col-xs-12
                                                    label='Item' + i
                                                span.col-xs-6.col-sm
                                                    input(type='text' name='size' + i placeholder='Size' disabled=i !== 1)
                                                span.col-xs-6.col-sm
                                                    input(type='text' name='color' + i placeholder='Color' disabled=i !== 1)
                                                span.col-xs-6.col-sm
                                                    input(type='number' name='stock' + i min='0' placeholder='100' disabled=i !== 1)
                                                span.col-xs-6.col-sm
                                                    input(type='text' name='price' + i min='1' placeholder='0.00' required disabled=i !== 1)
                                                span.col-xs-12.col-sm-3
                                                    select(class='status' name='status' + i)
                                                        option(disabled='true') -- Select --
                                                        option(value='active' selected=i === 1) Active
                                                        option(value='inactive' selected=i !== 1) Inactive
                            span.row
                                span.col-xs
                                    if add
                                        button(type='submit').button.pink Save
                                    else
                                        button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset