extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.profile
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                if successMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.success
                            span #{successMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        form(action=owner ? '/admin/update-profile' : '/user/update-profile' method='post')
                            span.row
                                span.col-xs
                                    button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
                            span.row.grey
                                span.col-xs-12.col-sm-6.fieldset
                                    h2 Personal Details
                                    label(for='firstName') First Name
                                    input(type='text' name='firstName' placeholder='First Name' value=firstName required)
                                    label(for='lastName') Last Name
                                    input(type='text' name='lastName' placeholder='Last Name' value=lastName required)
                                    label(for='email') Email
                                    input(type='email' name='email' placeholder='Email' value=email required)
                                    label(for='phoneNumber') Phone Number
                                    input(type='tel' name='phoneNumber' placeholder='0123456789' value=phoneNumber)
                                    label(for='avatar') Avatar
                                    span(style=avatar ? 'background-image: url(/img/' + userId + '/' + avatar + ');' : '').user
                                        input(type='file' name='avatar')
                                        if !avatar
                                            span.fa.fa-user
                                span.col-xs-12.col-sm-6.fieldset
                                    h2 Billing Details
                                    label(for='address1') Address 1
                                    input(type='text' name='address1' placeholder='Address' value=address1)
                                    label(for='address2') Address 2
                                    input(type='text' name='address2' placeholder='Address' value=address2)
                                    label(for='city') Town/City
                                    input(type='text' name='city' placeholder='Town/City' value=city)
                                    label(for='province') Province/State/County
                                    input(type='text' name='province' placeholder='Province/State/County' value=province)
                                    label(for='postalcode') Postalcode/Zipcode/Postcode
                                    input(type='text' name='postalcode' placeholder='Postalcode/Zipcode/Postcode' value=postalcode)
                                    label(for='country') Country
                                    input(type='text' name='country' placeholder='Country' value=country)
                                span.col-xs-12.col-sm-6.fieldset
                                    h2 Password
                                    label(for='password1') Current Password
                                    input(type='password' name='password1' placeholder='********')
                                    label(for='password2') New Password
                                    input(type='password' name='password2' placeholder='********')
                                    label(for='password3') Re-enter New Password
                                    input(type='password' name='password3' placeholder='********')
                            span.row
                                span.col-xs
                                    button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset