extends ../templates/layout

block content
    main
        section.dashboard
            include ../modules/dashboard-nav
            div.settings
                if errorMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.error
                            span #{errorMessage}
                if successMessage
                    div.row.center-xs.container
                        div.col-xs-12.col-sm-12.col-md-8.success
                            span #{successMessage}
                div.row.center-xs.container
                    div.col-xs-12.col-md-8
                        form(action='/admin/dashboard/update-settings' enctype='multipart/form-data' method='post')
                            span.row
                                span.col-xs
                                    button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Theme
                                    span.row
                                        span.col-xs-12.col-sm-6
                                            label(for='title') Logo
                                            span.image
                                                input(type='file' name='logo')
                                                if !(image + i)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='/img/' + image1)
                                        span.col-xs-12.col-sm-6
                                            span.row            
                                                span.col-xs-12
                                                    label Colors
                                                    input(type='text' name='color1' placeholder='Color 1' value=color1 required)
                                                span.col-xs-12
                                                    input(type='text' name='color2' placeholder='Color 2' value=color2 required)
                                                span.col-xs-12
                                                    input(type='text' name='color3' placeholder='Color 3' value=color3 required)
                            span.row.grey
                                span.col-xs-12.fieldset.settings
                                    h2 Sliders
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label= 'Slider 1'
                                        span.col-xs-12.col-sm-6
                                            span.row
                                                span.col-xs-12.col-sm-12
                                                    input(type='text' name='sliderTitle11' placeholder='Title' value=sliderTitle1 required)
                                                span.col-xs-12
                                                    textarea(name='sliderDescription' placeholder='Description') #{sliderDescription1}
                                                span.col-xs-12.col-sm-12
                                                    input(type='url' name='sliderUrl1' placeholder='Url' value=sliderUrl1 required)
                                        span.col-xs-12.col-sm-6
                                            span.image
                                                input(type='file' name='sliderImage1')
                                                if !(image1)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='/img/' + sliderImage1)
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label= 'Slider 2'
                                        span.col-xs-12.col-sm-6
                                            span.row
                                                span.col-xs-12.col-sm-12
                                                    input(type='text' name='sliderTitle2' placeholder='Title' value=sliderTitle2 required)
                                                span.col-xs-12
                                                    textarea(name='sliderDescription2' placeholder='Description') #{sliderDescription2}
                                                span.col-xs-12.col-sm-12
                                                    input(type='url' name='sliderUrl2' placeholder='Url' value=sliderUrl2 required)
                                        span.col-xs-12.col-sm-6
                                            span.image
                                                input(type='file' name='sliderImage2')
                                                if !(image2)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='/img/' + sliderImage2)
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label= 'Slider 3'
                                        span.col-xs-12.col-sm-6
                                            span.row
                                                span.col-xs-12.col-sm-12
                                                    input(type='text' name='sliderTitle3' placeholder='Title' value=sliderTitle3 required)
                                                span.col-xs-12
                                                    textarea(name='sliderDescription3' placeholder='Description') #{sliderDescription3}
                                                span.col-xs-12.col-sm-12
                                                    input(type='url' name='sliderUrl3' placeholder='Url' value=sliderUrl3 required)
                                        span.col-xs-12.col-sm-6
                                            span.image
                                                input(type='file' name='sliderImage3')
                                                if !(image3)
                                                    img(src='/img/product.jpg')
                                                else
                                                    img(src='/img/' + sliderImage3)                                
                            span.row.grey
                                span.col-xs-12.fieldset.settings
                                    h2 CTA's
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label Register
                                        span.col-xs-12.col-sm-12
                                            span.row
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaTitle1' placeholder='Title' value=ctaTitle1 required)
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaSubtitle1' placeholder='Subtitle' value=ctaSubtitle1 required)
                                                span.col-xs-12
                                                    textarea(name='ctaDescription1' placeholder='Description') #{ctaDescription1}
                                                    span.row.grey
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label Contact
                                        span.col-xs-12.col-sm-12
                                            span.row
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaTitle2' placeholder='Title' value=ctaTitle2 required)
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaSubtitle2' placeholder='Subtitle' value=ctaSubtitle2 required)
                                                span.col-xs-12
                                                    textarea(name='ctaDescription2' placeholder='Description') #{ctaDescription2}
                                    span.row.grey
                                        span.col-xs-12.col-sm-12
                                            label Error
                                        span.col-xs-12.col-sm-12
                                            span.row
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaTitle3' placeholder='Title' value=ctaTitle3 required)
                                                span.col-xs-12.col-sm-6
                                                    input(type='text' name='ctaSubtitle3' placeholder='Subtitle' value=ctaSubtitle3 required)
                                                span.col-xs-12
                                                    textarea(name='ctaDescription3' placeholder='Description') #{ctaDescription3}
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 About
                                    span.row
                                        span.col-xs-12
                                            textarea(name=aboutDescription placeholder='Description').tinymce #{aboutDescription}
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Contact Information
                                    span.row
                                        span.col-xs-12.col-sm-6
                                            label(for='name') Name
                                            input(type='text' name='name' placeholder='Name' value=contactName required)
                                        span.col-xs-12.col-sm-6
                                            label(for='email') Email
                                            input(type='email' name='email' placeholder='Email' value=contactEmail required)
                            span.row.grey
                                span.col-xs-12.fieldset
                                    h2 Social Media
                                    span.row
                                        span.col-xs-12.col-sm-6
                                            label(for='facebook') Facebook
                                            input(type='url' name='facebook' placeholder='http://facebook.com' value=facebook required)
                                        span.col-xs-12.col-sm-6
                                            label(for='twitter') Twitter
                                            input(type='url' name='facebook' placeholder='http://twitter.com' value=twitter required)
                            span.row
                                span.col-xs
                                    button(type='submit').button.pink Update
                                span.col-xs.right
                                    button(type='reset').button.brown Reset
